<div class="footer">
  <% if (theme.footer.social) { %>
    <div class="social">
      <ul>
        <% for(let item of theme.footer.social){ %>
          <li>
            <a title="<%- item.name %>" href="<%- item.path %>">
              <i class="iconfont icon-<%- item.icon %>"></i>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  <% } %>
  <% for(let item of theme.footer.more){ %>
    <div class="footer-more">
      <% if (item.path) { %>
        <a href="<%- item.path %>"><%- item.name %></a>
      <% } else { %>
        <%- item.name %>
      <% } %>  
    </div>
  <% } %>
</div>
