<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="<%= config.keywords %>" />
  <meta name="author" content="<%= config.author %>" />
  <meta name="description" content="<%= config.description %>" />
  <% if(is_home() && page.current > 1){ %>
    <meta name="robots" content="noindex" />
  <% } %>
  <%
    var title = page.title;

    if (is_archive()){
      title = 'archive_a';

      if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category() || title === "categories"){
      title = "category"
    } else if (is_tag() || title === "tags"){
      title = "tag"
    } else if (title === "friends") {
      title = "friend"
    } else if (title === "about") {
      title = "about"
    }
  %>
  <title>
    <% if (title) { %>
      <%= __(title) %> 
      <% if (page.tag) { %> : <%= page.tag %><% } %>
      <% if (page.category) { %> : <%= page.category %><% } %>
      |
    <% } %>
     <%= config.title %>
  </title>

  <% if (theme.favicon.enable){ %>
    <link rel="apple-touch-icon" href="<%- theme.favicon.touch_icon %>">
    <link rel="icon" href="<%- theme.favicon.icon %>">
  <% } %>

  <!-- hexo site css -->
  <%- css(['/css/base.css', '/iconfont/iconfont.css', '/css/github-markdown.css', '/css/highlight.css']) %>

  <!-- Open source and privacy friendly web stats. See more at https://www.goatcounter.com -->
  <script data-goatcounter="https://tofubitar.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

</head>
