* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 10px;
  letter-spacing: 0.01rem;
  font-family: 'Courier New', monospace;
}

body.hidden {
  overflow: hidden;
  padding-right: 6px;
}

#app {
  position: relative;
  margin: 0 auto;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 6px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144,147,153,.5);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a4a4a4;
}

a {
  color: #666;
  text-decoration: none;
  background-color: transparent;
  transition: color 0.3s;
}

a:hover {
  color: black;
}

.flex-container {
  min-height: calc(100vh - 290px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: calc(100vw - 100%);
  /*transition: all 0.3s ease;*/
}

.header {
  padding: 50px 0;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.index .post-list,
.friend-index .friend-list,
.archives .post-list,
.tag-index .tag-list,
.about-index .markdown-body {
  padding: 0 40px;
}

.category-index .category-list {
  padding: 0 110px;
}

@media (max-width: 888px) {
  .container {
    width: 90%;
  }
  .index .post-list,
  .friend-index .friend-list,
  .archives .post-list,
  .tag-index .tag-list,
  .about-index .markdown-body {
    padding: 0;
  }
  .category-index .category-list {
    padding: 0 40px;
  }
  .post-catalog {
    opacity: 0;
    z-index: -1;
  }
  .back-to-top {
    opacity: 0;
    z-index: -1;
  }
}

@media (max-width: 1200px) and (min-width: 887px) {
  .index .post-list,
  .friend-index .friend-list,
  .archives .post-list,
  .tag-index .tag-list,
  .about-index .markdown-body {
    padding: 0 20px;
  }
}

.post-item {
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 20px;
  align-items: center;
}

.post-item .time-m-d {
  flex-shrink: 0;
  margin-right: 30px;
  color: #666;
  font-size: 1.5rem;
  /*font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;*/
}

.post-item .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-item .title .post-top {
  font-weight: 600;
  font-size: 1.7rem;
  padding-right: 8px;
  color: #535353;
}

.tag-details .time-m-d, .archives .time-m-d, .category-details .time-m-d {
  margin: 0 30px;
}

.avatar {
  text-align: center;
  padding-bottom: 30px;
  margin-left: calc(100vw - 100%);
}

.avatar img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.avatar .nickname {
  font-size: 2rem;
  font-weight: 600;
  color: #666;
  padding-top: 10px;
}

.content {
  clear: both;
  padding: 0 20px;
}

.content-title {
  font-size: 1.6rem;
  color: #666;
  margin-bottom: 20px;
  /*font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;*/
}

.navbar {
  margin-left: calc(100vw - 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  font-size: 1.65rem;
  font-weight: bold;
  text-align: center;
}

.navbar ul li a {
  padding-bottom: 2px;
}

.navbar ul li a:hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 8px;
  opacity: 0.3;
  background-color: gray;
  width: 100%;
  border-radius: 3px;
}

.navbar ul li.active a {
  color: black;
}

.navbar ul li.active a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 8px;
  opacity: 0.5;
  background-color: gray;
  width: 100%;
  border-radius: 3px;
}

@media (max-width: 888px) {
  .navbar ul li {
    margin: 0 10px;
  }
}

@media (max-width: 390px) {
  .navbar ul li {
    margin: 0 3px;
  }
}

.post-navigation {
  font-size: 1.5rem;
  padding: 20px 90px;
  text-align: right;
  color: #666;
}

.post-navigation i {
  font-weight: 600;
}

.post-navigation .page-num {
  padding: 0 10px;
}

@media (max-width: 888px) {
  .post-navigation {
    padding: 20px 0;
  }
}

@media (max-width: 1200px) and (min-width: 887px) {
  .post-navigation {
    padding: 20px 20px;
  }
}

.footer {
  padding-top: 30px;
  font-size: 1.2rem;
  color: #aaa;
}

.social {
  padding-bottom: 5px;
}

.social ul {
  text-align: center;
}

.social ul li {
  display: inline-block;
  padding: 0 5px;
}

.footer-more {
  padding-bottom: 5px;
  text-align: center;
}


.tag-list li {
  font-size: 1.6rem;
  display: inline-block;
  padding: 10px;
}

.tag-list li .tag-list-link {
  position: relative;
  padding: 0 2px;
  border-radius: 2px;
}

.tag-list-count, .category-list-count {
  padding: 0 5px;
  color: #aaa;
  font-size: 1.2rem;
  vertical-align: top;
}

.category-list .category-list-item {
  font-size: 1.6rem;
  padding: 5px 0;
}

.category-list .category-list-item .category-list-child {
  padding-left: 30px;
}

.friend-list-item {
  font-size: 1.6rem;
  padding: 10px;
}

.friend-list-item .nickname {
  padding-right: 10px;
}

.post-details .post-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  color: #666;
  padding-bottom: 10px;
}

.post-details .post-attach {
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 30px;
  color: #666;
}

.post-content {
  padding-bottom: 1rem;
}

.prev-or-next {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 3rem 0;
  border-top: 1px solid rgba(88,88,88,0.1);
}

.prev-or-next .post-foot-next, .prev-or-next .post-foot-prev {
  white-space: nowrap;
}

.prev-or-next .post-attach {
  opacity: 0.9;
  font-size: 1.2rem;
  padding: 0 30px;
}

.post-attach .post-pubtime, .post-attach .post-tags, .post-attach .post-categories {
  padding: 0 10px;
}

@media (max-width: 768px) {
  .time-m-d {
    margin-right: 15px;
  }
  .tag-details .time-m-d, .archives .time-m-d {
    margin: 0 15px;
  }
}

.post-catalog {
  position: absolute;
  top: calc(290px + 88px + 30px);
  right: 50px;
  width: calc(20% - 50px);
  font-size: 1.4rem;
  padding-left: 10px;
}

.post-catalog .title {
  color: #666;
  font-size: 1.65rem;
  font-weight: bold;
  padding: 5px 0;
}

.catalog-content {
  overflow: auto;
}

.post-catalog .toc-child {
  padding-left: 10px;
}

.post-catalog li {
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2;
}

.toc-link {
  position: relative;
  padding: 3px 5px;
  opacity: 0.8;
  border-left: 2px solid transparent;
}

.toc-link.active {
  color: black;
  opacity: 1;
}

.toc-link:hover::after {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 0;
  width: 8px;
  height: 90%;
  background-color: gray;
  opacity: 0.3;
  border-radius: 3px;
}

.toc-link.active::after {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 0;
  width: 8px;
  height: 90%;
  background-color: gray;
  opacity: 0.5;
  border-radius: 3px;
}

.back-to-top {
  position: fixed;
  right: 2.2rem;
  bottom: 5.2rem;
  font-weight: bold;
}

.back-to-top.hidden {
  display: none;
}

.search-icon {
  position: fixed;
  right: 2.2rem;
  bottom: 2.2rem;
  font-weight: bold;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  transition: background-color 0.2s ease;
  visibility: visible;
  padding-right: 6px;
}

.search-overlay.hidden {
  background-color: transparent;
  visibility: hidden;
  transition: visibility 0s linear 0.2s, background-color 0.2s;
  padding-right: 0;
}

.search-overlay.hidden .search-content {
  position: relative;
  top: 15%;
  opacity: 0;
}

.search-content {
  position: relative;
  top: 18%;
  opacity: 1;
  background-color: transparent;
  z-index: 999;
  border-radius: 10px;
  margin: 0 2rem;
  transition: top 0.2s ease, opacity 0.2s ease;
  outline: 0;
}

@media (min-width: 768px) {
  .search-content {
    width: 520px;
    margin: 0 auto;
  }
}

.search-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  padding: 0 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.search-input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0 10px;
  font-size: 1.6rem;
  height: 38px;
  line-height: 38px;
}

.search-result {
  max-height: 350px;
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 8px;
}

.search-result ul {
  padding: 10px;
}

.search-result-list li {
  list-style-type: none;
  padding: 10px;
  font-size: 1.6rem;
  border-bottom: 1px dashed #eee;
}

.search-result-list li:nth-last-of-type(1) {
  border-bottom: none;
}

.search-result-abstract {
  padding: 10px 10px 0 10px;
  font-size: 1.2rem;
  color: #666;
}

.search-keyword {
  color: #e96900;
}

.local-search-empty {
  font-size: 1.6rem;
}
